{% extends "dashboard.html" %}
{% block user_dashboard %}
<div>
    <h1 class="text-3xl font-bold mb-10">My Profile</h1>
    <div class="sm:flex ">
        <img class="sm:w-3/12 w-full" src="{{user.profile_image.url}}" alt="">
        <div class="sm:ml-4">
            <p class="text-2xl font-bold">{{user.username.upper}}</p>
            <p>{{user.groups.first}}</p>
            <p><span class="font-bold">Last Login:</span> {{user.last_login}}</p>
        </div>
    </div>
    <div class="w-4/6 text-lg">
        <div class="sm:flex justify-between mt-2">
            <p><span class="font-bold">First Name: </span>{{user.first_name}}</p>
            <p><span class="font-bold">Last Name:</span> {{user.last_name}}</p>
        </div>
        <div class="sm:flex justify-between">
            <p><span class="font-bold">Email: </span>{{user.email}}</p>
            <p><span class="font-bold">Phone: </span>{{user.phone}}</p>
        </div>
    </div>
</div>
{% endblock user_dashboard %}