{% extends "dashboard.html" %}
{% block table_block %}
<div class="bg-white p-5 pb-10">
    <h1 class="text-3xl font-bold mb-10">Create Group</h1>
    <form action="" class=" w-full mx-2 sm:mx-auto my-4" method="post">
        {% csrf_token %}
        {{form}}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="bg-green-500 px-3 py-1 font-bold mb-3">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <button class="bg-red-500 text-white px-3 py-2 font-bold mt-2" type="submit">Submit</button>
    </form>
</div>
{% endblock table_block %}