{% extends "dashboard.html" %}
{% block table_block %}
<div>
    <h1 class="text-3xl font-bold text-center my-4">Show groups</h1>
    <table class="w-full text-left table-auto min-w-max text-slate-800">
        <thead>
            <tr class="text-slate-500 border-b border-slate-300 bg-slate-50">
                <th class="p-4 w-1/3">
                    <p class="text-sm leading-none font-bold">
                        Name
                    </p>
                </th>
                <th class="p-4 w-3/4">
                    <p class="text-sm leading-none font-bold">
                    Permissions
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr class="hover:bg-slate-50 border-b-2">
                <td class="p-4">
                    <p class="text-sm">
                        {{group.name}}
                    </p>
                </td>
                <td class="p-4">
                    <p class="text-sm">
                        {% for permission in group.permissions.all %}
                            <li>{{permission}}</li>
                        {% endfor %}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock table_block %}