{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Event Management</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      .logo_font {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
      }
      .banner_font {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      }
      .bg_image{
        background: url({% static "images/banner.png" %});
        background-size: cover;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <nav class="bg-gray-50 shadow-md">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-between">
                  <div>
                      <p class="text-black text-3xl logo_font">Event Nest</p>
                  </div>
                  <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                      <!-- Current: "bg-gray-900 text-black", Default: "text-black hover:bg-gray-700 hover:text-black" -->
                      <a href="#" class="rounded-md px-3 py-2 text-md font-medium text-black" aria-current="page">Dashboard</a>
                      <a href="#" class="rounded-md px-3 py-2 text-md font-medium text-black">Team</a>
                      <a href="#" class="rounded-md px-3 py-2 text-md font-medium text-black">Projects</a>
                      <a href="#" class="rounded-md px-3 py-2 text-md font-medium text-black">Calendar</a>
                    </div>
                  </div>
                </div>
                <div class="inset-y-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button onclick="menu_toggle()" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-black" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <!--
                        Icon when menu is closed.
            
                        Menu open: "hidden", Menu closed: "block"
                    -->
                    <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!--
                        Icon when menu is open.
            
                        Menu open: "block", Menu closed: "hidden"
                    -->
                    <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    </button>
                </div>
                {% comment %} <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                  <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-black focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">View notifications</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                  </button>
          
                  <!-- Profile dropdown -->
                  <div class="relative ml-3">
                    <div>
                      <button type="button" class="relative flex rounded-full bg-gray-800 text-md focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">Open user menu</span>
                        <img class="size-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                      </button>
                    </div>
          
                    <!--
                      Dropdown menu, show/hide based on menu state.
          
                      Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                      Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                    -->
                    <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                      <!-- Active: "bg-gray-100 outline-hidden", Not Active: "" -->
                      <a href="#" class="block px-4 py-2 text-md text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                      <a href="#" class="block px-4 py-2 text-md text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                      <a href="#" class="block px-4 py-2 text-md text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                    </div>
                  </div>
                </div> {% endcomment %}
            </div>
          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="hidden rounded-md bg-slate-600" id="mobile_menu">
            <div class="space-y-1 px-2 pt-2 pb-3">
              <!-- Current: "bg-gray-900 text-black", Default: "text-black hover:bg-gray-700 hover:text-black" -->
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white">Team asdf</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white">Projects</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white">Calendar</a>
            </div>
          </div>
      </div>  
    </nav>

    <!-- banner  -->
     <section>
        <div class="bg_image flex justify-center items-center">
            <div class="text-white text-7xl font-bold banner_font text-center">
                <p class="mb-2">UNIQUE</p>
                <p class="mb-2">CREATIVE</p>
                <p class="mb-2">EXTRA ORDINARY</p>
            </div>
        </div>
     </section>

     <section class="my-10">
        <div class="text center">
            <p class="text-center text-6xl banner_font mb-5">Corporate Events</p>
            <p class="text-center text-xl text-gray-500">From a laid-back company picnic to a Great Gatsby themed holiday party, Event Nest</p>
            <p class="text-center text-xl text-gray-500">Events delivers a top-notch corporate event that will leave a lasting impression on your attendees.</p>
        </div>
        <div>

        </div>
     </section>
      
    <p class="text-red-600 text-4xl font-bold text-center mt-52">Welcome to Event Management</p>
    <p class="text-center underline"><a class="text-red-600 text-xl font-bold text-center" href="{% url "dashboard" %}">Go to dashboard</a></p>











    <script>
        function menu_toggle() {
            const mobile_menu = document.getElementById("mobile_menu");
            const sidebarVisibility = mobile_menu.classList.contains("hidden");
    
            // Show or hide the mobile_menu based on its current state
            if (sidebarVisibility) {
              mobile_menu.classList.remove("hidden");
              mobile_menu.classList.add("fixed");
              mobile_menu.classList.add("right-[10px]");
              mobile_menu.classList.add("z-50");
            } else {
              mobile_menu.classList.add("hidden");
              mobile_menu.classList.remove("fixed");
              mobile_menu.classList.remove("z-50");
            }
          }
    </script>
  </body>
</html>
