{% extends "dashboard.html" %}
{% block table_block %}
<h1 class="text-center mt-4 text-4xl font-bold">{% if type == "update" %}Update {% else %}Create {% endif %}{% if pageId == 1 %}event {% elif pageId == 2 %}participants {% else %} category{% endif %}</h1>
    <div class="w-1/3 mx-auto">
        <form class="" method="POST">
            {% csrf_token %}
            {{form}}
            <br>
            <button class="px-4 py-2 rounded-md text-white font-bold bg-red-500" type="submit">Submit</button>
        </form>
    </div>
{% endblock table_block %}