{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="p-20">
        <div class="mb-10">
            <a href="{% url "create_event" pageId=1 %}" class="bg-emerald-500 text-white font-bold px-2 py-2 my-2 mx-2">Create Event</a>
            <a href="{% url "create_event" pageId=2 %}" class="bg-emerald-500 text-white font-bold px-2 py-2 my-2 mx-2">Create Participants</a>
            <a href="{% url "create_event" pageId=3 %}" class="bg-emerald-500 text-white font-bold px-2 py-2 my-2 mx-2">Create Category</a>
            <a href="{% url "dashboard" %}" class="bg-emerald-500 text-white font-bold px-2 py-2 my-2 mx-2">Show Events</a>
            <a href="{% url "show_participants" %}" class="bg-emerald-500 text-white font-bold px-2 py-2 my-2 mx-2">Show Participants</a>
            <a href="{% url "show_category" %}" class="bg-emerald-500 text-white font-bold px-2 py-2 my-2 mx-2">Show Category</a>
        </div>
        {% block table_block %}
        {% endblock table_block %}
    </div>
</body>
</html>