{% extends "base_home.html" %}
{% block content %}
    {% comment %} {% if is_user %}
        <div>
            {% block user_dashboard %}
            {% endblock user_dashboard %}
        </div>
    {% else %} {% endcomment %}
        <div class="pt-0">
            <button onclick="sidebarToggle()" class="block sm:hidden mt-10 mx-4">
                <svg class="block size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <div class="flex">
                <div id="sidebar" class="w-3/4 sm:mt-6 mt-2 pt-1 sm:w-1/6 bg-white min-h-screen hidden sm:block">
                    {% if is_admin %}
                        <a href="{% url "create_event" pageId=1 %}" class="block {% if request.resolver_match.url_name == 'create_event' %}bg-gray-200 rounded-lg{% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Create Event</a>
                        <a href="{% url "dashboard" %}" class="block {% if request.resolver_match.url_name == 'dashboard' %}bg-gray-200 rounded-lg{% endif %} my-2 mx-5 text-black  font-bold py-2 px-3 ">Show Events</a>
                        <a href="{% url "create_category" pageId=3 %}" class="block {% if request.resolver_match.url_name == 'create_category' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Create Category</a>
                        <a href="{% url "show_category" %}" class="block {% if request.resolver_match.url_name == 'show_category' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Show Category</a>
                        <a href="{% url "show_participants" %}" class="block {% if request.resolver_match.url_name == 'show_participants' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Show Participants</a>
                        <a href="{% url "create_group" %}" class="block {% if request.resolver_match.url_name == 'create_group' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Create Group</a>
                        <a href="{% url "show_group" %}" class="block {% if request.resolver_match.url_name == 'show_group' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Show Group</a>
                    {% elif is_organizer %}
                        <a href="{% url "create_event" pageId=1 %}" class="block {% if request.resolver_match.url_name == 'create_event' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Create Event</a>
                        <a href="{% url "dashboard" %}" class="block {% if request.resolver_match.url_name == 'dashboard' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Show Events</a>
                        <a href="{% url "create_event" pageId=3 %}" class="block {% if request.resolver_match.url_name == 'create_event' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Create Category</a>
                        <a href="{% url "show_category" %}" class="block {% if request.resolver_match.url_name == 'show_category' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Show Category</a>
                    {% else %}
                        <a href="{% url "dashboard" %}" class="block {% if request.resolver_match.url_name == 'dashboard' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">My Events</a>
                    {% endif %}
                    <a href="{% url "my_profile" %}" class="block {% if request.resolver_match.url_name == 'my_profile' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">My Profile</a>
                    <a href="{% url "edit_profile" %}" class="block {% if request.resolver_match.url_name == 'edit_profile' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Edit profile</a>
                    <a href="{% url 'change_password' %}" class="block {% if request.resolver_match.url_name == 'change_password' %} bg-gray-200 rounded-lg {% endif %} my-2 mx-5 text-black font-bold py-2 px-3 ">Change Password</a>
                </div>
                <div class="w-full sm:w-5/6 sm:p-8 p-3 sm:pt-14">
                    {% block table_block %}
                    {% endblock table_block %}
                    {% block user_dashboard %}
                    {% endblock user_dashboard %}
                </div>
            </div>
        </div>
{% endblock content %}