{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body class="flex justify-center mt-20">
    <div class="w-1/2">
        <p class="text-6xl font-bold mb-5">{{event.name}}</p>
        <p class="text-lg my-2"><span class="font-bold">Category:</span> {{event.category.name}}</p>
        <p class="text-lg my-2"><span class="font-bold">Description:</span> {{event.description}}</p>
        <p class="text-lg my-2 font-bold">Participants: </p>
        <div>
            <ul class="list-disc ps-10">
                {% for p in event.participants.all %}
                    <li>{{p.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <p class="text-lg my-2"><span class="font-bold">Date:</span> {{event.date}}</p>
    </div>
</body>
</html>