{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <p class="text-red-600 text-4xl font-bold text-center mt-52">Welcome to Event Management</p>
    <p class="text-center underline"><a class="text-red-600 text-xl font-bold text-center" href="{% url "dashboard" %}">Go to dashboard</a></p>
</body>
</html>